* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: dodgerblue;
}

.header {
  padding: 30px;
  margin-bottom: 20px;
  background-color: beige;
  color: darkblue;
  font-size: 3rem;
  text-align: center;
}

.cards {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  padding: 10px;
  width: calc(50% - 20px);
}

.card-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top center;
}

.card-title {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 700;
  color: blueviolet;
}

.card-content {
  color: #555;
  line-height: 24px;
}

.footer {
  padding: 20px;
  margin-top: 20px;
  background-color: beige;
  color: white;
  text-align: center;
}
.footer-heart {
  color: red;
}
